<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand p-0" href="/">Logo</a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end gap-3 mt-2 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav gap-1 mb-2 mb-lg-0">
          <li class="nav-item rounded-2">
            <a class="nav-link px-2 px-md-3" aria-current="page" href="#">Tech Stack</a>
          </li>
          <li class="nav-item rounded-2">
            <a class="nav-link px-2 px-md-3" aria-current="page" href="#">Experience</a>
          </li>
          <li class="nav-item rounded-2">
            <a class="nav-link px-2 px-md-3" aria-current="page" href="#">Projects</a>
          </li>
        </ul>
        <div class="d-flex flex-wrap flex-md-nowrap gap-1 gap-md-2">
          <a href="https://www.linkedin.com/in/rayhan-permana/" class="col-12 col-md-auto flex-fill navbar-button navbar-button-linkedin d-flex justify-content-center align-items-center gap-2 text-decoration-none rounded-2 px-2 px-lg-3 py-2">
            <i class="fa-brands fa-square-linkedin"></i>
            <span class="navbar-button-text">Find Me</span>
          </a>
          <a href="#" class="col-12 col-md-auto flex-fill navbar-button navbar-button-download-cv d-flex justify-content-center align-items-center gap-2 text-decoration-none rounded-2 px-2 py-2">
            <i class="fa-solid fa-download"></i>
            <span class="navbar-button-text">Download CV</span>
          </a>
          {{#if email}}
            {{!-- <a href="#" class="col-12 col-md-auto flex-fill outline-button navbar-button-login d-flex justify-content-center align-items-center gap-2 text-decoration-none rounded-2 px-3 py-2">
              <i class="fa-solid fa-user"></i>
              <span class="d-flex d-lg-none navbar-button-text">Profile</span>
            </a> --}}
            <a href="/logout-admin" class="col-12 col-md-auto flex-fill navbar-button-logout d-flex justify-content-center align-items-center gap-2 text-decoration-none rounded-2 px-3 py-2">
              <span class="navbar-button-text">Logout</span>
            </a>
          {{else}}
            <a href="/login" class="col-12 col-md-auto flex-fill outline-button navbar-button-login d-flex justify-content-center align-items-center gap-2 text-decoration-none rounded-2 px-3 py-2">
              <span class="navbar-button-text">Login</span>
            </a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>

  <div class="main-content container-fluid d-flex justify-content-center w-full">
    <div class="main-body d-flex flex-column">
      <!-- Hero -->
      <div class="hero row justify-content-center align-items-center gap-4 gap-lg-5">
        <div class="col-12 col-lg-auto d-flex justify-content-center">
          <img src="{{imagePath}}" class="profile-image rounded-4" alt="Profile Picture">
        </div>
        <div class="col-12 col-lg-7 col-xl-6 d-flex flex-column gap-4 mt-4 mt-lg-0">
          <div class="d-flex flex-column gap-3">
            <h1 class="headline-text text-center text-lg-start m-0 p-0">{{headline}}👋</h1>
            <h3 class="subheadline-text text-center text-lg-start m-0 p-0">{{role}}</h3>
          </div>
          <p class="text-center text-lg-start">{{summary}}</p>
          <div class="d-flex flex-column gap-3">
            <div class="d-flex justify-content-center justify-content-lg-start align-items-center gap-2">
              <ion-icon class="icon-location" name="location-outline"></ion-icon>
              <span class="info-text">{{location}}</span>
            </div>
            <div class="d-flex justify-content-center justify-content-lg-start align-items-center gap-2">
              <i class="icon-status {{statusIconFlag}} fa-solid fa-circle"></i>
              <span class="info-text">{{message}}</span>
            </div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-center justify-content-lg-start gap-3 mt-3">
            <a href="https://www.linkedin.com/in/rayhan-permana/" class="navbar-button navbar-button-linkedin d-flex justify-content-center align-items-center gap-2 text-decoration-none rounded-2 px-2 px-md-3 py-2">
              <i class="fa-brands fa-square-linkedin"></i>
              <span class="navbar-button-text">Find Me</span>
            </a>
            <a href="#" class="navbar-button navbar-button-download-cv d-flex justify-content-center align-items-center gap-2 text-decoration-none rounded-2 px-2 py-2">
              <i class="fa-solid fa-download"></i>
              <span class="navbar-button-text">Download CV</span>
            </a>
          </div>
        </div>
      </div>
      <!-- End Hero -->
      <!-- Tech Stack Section -->
      <div class="ts-section d-flex flex-column gap-4">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="m-0 p-0">Tech Stack<span class="d-none d-lg-inline"> - Tools I Use Everyday</span></h2>
          {{#if email}}
            <a href="#" class="add-button d-flex align-items-center gap-2 rounded-5 border-0 text-decoration-none">
              <i class="fa-solid fa-plus"></i>
              <span class="d-none d-sm-flex">Add tech stack</span>
            </a>
          {{/if}}
        </div>
        <div class="empty-section d-flex justify-content-center">
          <div class="d-flex flex-column">
            <img src="images/img_empty_01.png" alt="Empty Image">
            <span>Add new technology you use currently.</span>
          </div>
        </div>
      </div>
      <!-- End Tech Stack Section -->
      <!-- Work Experiences Section -->
      <div class="we-section d-flex flex-column gap-5">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="m-0 p-0">Work Experiences</h2>
          {{#if email}}
            <a href="/add-work-experience" class="add-button d-flex align-items-center gap-2 rounded-5 border-0 text-decoration-none">
              <i class="fa-solid fa-plus"></i>
              <span class="d-none d-sm-flex">Add work experience</span>
            </a>
          {{/if}}
        </div>
        {{#if works}}
          {{#each works}}
            <div class="content-list d-flex flex-column">
              <div class="row justify-content-center gap-3 gap-md-2 px-4">
                <div class="col-12 col-md-auto py-2">
                  <img src="uploads/work_images/{{this.image_name}}" class="rounded-3" alt="Company Logo">
                </div>
                <div class="col-12 col-md-10 d-flex flex-column flex-fill gap-3">
                  <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center gap-2">
                    <div class="d-flex flex-column">
                      <h4 class="m-0 p-0">{{this.name}}</h4>
                      <h5 class="m-0 p-0">{{this.company}}</h5>
                    </div>
                    <span>{{this.start_date}} - {{this.end_date}}</span>
                  </div>
                  <div class="d-flex flex-column gap-1">
                    <ul class="ps-3">
                      {{#each this.descriptions}}
                        <li>{{this}}</li>
                      {{/each}}
                    </ul>
                    <div class="d-flex flex-wrap gap-3">
                      {{#each this.technologies}}
                        <div class="project-tech rounded-5">
                          <span>{{this}}</span>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                  {{#if email}}
                    <div class="d-flex justify-content-end gap-3 mt-3">
                      {{!-- <a href="#" class="btn btn-primary px-5 text-decoration-none">Edit</a> --}}
                      <form action="#" method="post" onsubmit="return confirm('Are you sure delete project?')">
                        <button type="submit" class="button btn btn-danger">
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </form>
                    </div>
                  {{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        {{else}}
          <div class="empty-section d-flex justify-content-center">
            <div class="d-flex flex-column">
              <img src="images/img_empty_02.png" alt="Empty Image">
              <span>Work experiences are still empty.</span>
            </div>
          </div>
        {{/if}}
      </div>
      <!-- End Work Experiences Section -->
      <!-- My Projects Section -->
      <div class="mp-section d-flex flex-column gap-5 mt-2">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="m-0 p-0">My Projects</h2>
          {{#if email}}
            <a href="#" class="add-button d-flex align-items-center gap-2 rounded-5 border-0 text-decoration-none">
              <i class="fa-solid fa-plus"></i>
              <span class="d-none d-sm-flex">Add project</span>
            </a>
          {{/if}}
        </div>
        {{!-- <div class="empty-section d-flex justify-content-center">
          <div class="d-flex flex-column">
            <img src="images/img_empty_03.png" alt="Empty Image">
            <span>Projects are empty. Add new project.</span>
          </div>
        </div> --}}
        <div class="d-flex flex-wrap gap-5 gap-md-4 mt-2">
          <div class="project-card card rounded-4">
            <img src="images/sample_academic_information_system.png" class="card-img-top rounded-top-4" alt="...">
            <div class="card-body d-flex flex-column gap-2 p-4">
              <h5 class="card-title">Project Name</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
              <div class="d-flex flex-wrap gap-3">
                <div class="project-tech rounded-5">
                  <span>JavaScript</span>
                </div>
                <div class="project-tech rounded-5">
                  <span>JavaScript</span>
                </div>
                <div class="project-tech rounded-5">
                  <span>JavaScript</span>
                </div>
                <div class="project-tech rounded-5">
                  <span>JavaScript</span>
                </div>
                <div class="project-tech rounded-5">
                  <span>JavaScript</span>
                </div>
              </div>
              <div class="d-flex gap-5 mt-4">
                {{!-- <a href="#" class="active link-github d-flex align-items-center gap-2 text-decoration-none">
                  <i class="fa-brands fa-github"></i>
                  <span>View on GitHub</span>
                </a>
                <a href="#" class="active link-live-demo d-flex align-items-center gap-2 text-decoration-none">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  <span>Live Demo</span>
                </a> --}}
                <div class="inactive link-github d-flex align-items-center gap-2 text-decoration-none">
                  <i class="fa-brands fa-github"></i>
                  <span>Private Repository</span>
                </div>
                <div class="inactive link-live-demo d-flex align-items-center gap-2 text-decoration-none">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  <span>Demo Unavailable</span>
                </div>
              </div>
              {{#if email}}
                <div class="d-flex justify-content-end gap-3 mt-3">
                  {{!-- <a href="#" class="btn btn-primary px-5 text-decoration-none">Edit</a> --}}
                  <form action="#" method="post" onsubmit="return confirm('Are you sure delete project?')">
                    <button type="submit" class="button btn btn-danger">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </form>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <!-- End My Projects Section -->
      <!-- Contact Section -->
      <div class="contact-section d-flex flex-column align-items-center gap-4">
        <div class="d-flex flex-column text-center gap-1">
          <h2>Collaboration makes everything better</h2>
          <p>Don't hesitate to get in touch if you need a developer, have a question, or just want to say hello.</p>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center gap-2">
          <a href="mailto:rayhanpermana009@gmail.com" class="d-flex align-items-center gap-2 text-decoration-none">
            <ion-icon class="icon-email" name="mail-outline"></ion-icon>
            <span>rayhanpermana009@gmail.com</span>
          </a>
          <span class="seperator d-none d-md-flex mx-4"> | </span>
          <a href="https://www.linkedin.com/in/rayhan-permana/" class="d-flex align-items-center gap-2 text-decoration-none">
            <i class="fa-brands fa-square-linkedin"></i>
            <span>Muhammad Rayhan Permana</span>
          </a>
        </div>
      </div>
      <!-- End Contact Section -->
    </div>
  </div>

  <footer class="d-flex justify-content-center align-items-center">
    <div class="footer-body d-flex flex-column flex-md-row align-items-sm-center justify-content-sm-between gap-3">
      <div class="d-flex flex-column align-items-center align-items-md-start">
        <span>© 2025 Developed by Muhammad Rayhan Permana</span>
        <a href="https://storyset.com/technology" class="text-decoration-none">Illustrations by Storyset</a>
      </div>
      <div class="social-section d-flex justify-content-center align-items-center align-items-md-start gap-3">
        <a href="https://www.linkedin.com/in/rayhan-permana/" class="text-decoration-none">
          <i class="fa-brands fa-square-linkedin"></i>
        </a>
        <a href="https://github.com/ImHans09" class="text-decoration-none">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="#" class="text-decoration-none">
          <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="#" class="text-decoration-none">
          <i class="fa-brands fa-square-x-twitter"></i>
        </a>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>